<p id="notice"><%= notice %></p>

<h1>Filmes</h1>

<table border="1">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Preco</th>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.title %></td>
        <td><%= ticket.price %></td>
        <td><%= ticket.description %></td>
        <td><%= link_to 'Mostrar', ticket %></td>
        <td><%= link_to 'Editar', edit_ticket_path(ticket) %></td>
        <td><%= link_to 'Deletar', ticket, method: :delete, data: { confirm: 'Voce tem Certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Filme', new_ticket_path %>
